// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* reset ================================ */
.main {
  position: absolute;
  width:100%;
  height:100%;
  background-size:cover;
  background-image: url(https://github.com/kouta055/bike/blob/master/IMG_6131.JPG?raw=true);
}

.fas{
  position:fixed;
  top:7%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:50px;
  background-color:#7fffd4;
  padding-top:25px;
  margin:10px;
  height:70px;
  width:1200px;
  border-radius:10px;
  text-align:center;
}

.top-message{
  width:500px;
  padding:250px;
  margin: 0 auto;
}
.dai{
  font-size:40px;
  text-align:center;
}

.dai2{
  font-size:30px;
  text-align:center;
}

.btn{
  color:whitesmoke;
  font-family:'Lucida Console';
  font-weight:normal;
  opacity:0.8;
  list-style:none;
  background-color:#239b76;
}

.sabu{
  background-color:#55acee;
  text-align:center;
  width:160px;
  margin: 0 auto;
  margin-top:80px;
  box-shadow: 0 5px #778899;
  border-radius:10px;
  cursor:pointer;
  position:relative;
}

.sabu i{
  margin-right:100px;
}

.sabu a{
  display:block;
  position:absolute;
  bottom:-5px;
  left:20px;
  width:100%;
  height:100%;
  font-size:25px;
  text-decoration:none;
  color:#000;
  
}

.sabu:active{
  position:relative;
  top: 5px;
  box-shadow:none;
}

.face{
  background-color:#55acee;
  text-align:center;
  width:160px;
  margin: 0 auto;
  margin-top:30px;
  box-shadow: 0 5px #778899;
  border-radius:10px;
  cursor:pointer;
  position:relative;
}

.face i{
  margin-right:110px;
}

.face a{
  display:block;
  position:absolute;
  bottom:-5px;
  left:20px;
  width:100%;
  height:95%;
  font-size:23px;
  text-decoration:none;
  color:#000;
}

.face:active{
  position:relative;
  top: 5px;
  box-shadow:none;
}

.login{
  position:absolute;
  right:15px;
  top:10px;
  padding:7px;
  color:black;
  font-weight:bold;
  background-color: #7fffd4;
  border-radius:10px;
  text-decoration:none;
}
